#list{
    border-collapse: collapse;
    width: 100%;}
 #list th{
     background-color:#00aeef;
     color:white;
   
}
#list td, #list th{
     border: 1px solid #29a7e1;
     padding: 5px;
    
}
#list tr:nth-child(even){
    background-color: aliceblue;

}